---
- name: Install Zabbix Agent - RedHat 
  include_tasks: redhat.yml
  when: ansible_facts.os_family == "RedHat"

- name: Install Zabbix Agent - Ubuntu 
  include_tasks: ubuntu.yml
  when: ansible_facts.os_family == "Ubuntu"
  
- name: Deploy Zabbix Agent configuration
  template:
    src: zabbix_agentd.conf.j2
    dest: /etc/zabbix/zabbix_agentd.conf
  notify: restart agent

- name: Enable & start Zabbix agent
  service:
    name: "{{ zabbix_agent_service }}"
    state: started
    enabled: yes

- name: Verify Zabbix agent is active
  command: systemctl is-active {{ zabbix_agent_service }}
  register: service_status
  failed_when: service_status.stdout != "active"

- name: Debug service status
  debug:
    msg: "Zabbix Agent is {{ service_status.stdout }}"
